<div class="row">
  <div class="col-lg-3 px-md-4">
    <!-- Page Title -->
    <div
      class="section-title text-white text-capitalize d-flex align-items-end ps-4 pb-4 mb-5 mb-lg-0"
    >
      feedback board
    </div>
  </div>
  <div class="col-lg-9 px-4">
    <!-- Sorting Box-->
    <ng-container *ngIf="sortingList.length > 0">
      <div class="sorting-area bg-primary text-white py-3 px-5 mb-4 mb-lg-5">
        <form *ngIf="form" [formGroup]="form" autocomplete="off">
          <div class="d-flex align-items-center">
            <span>Sort by:</span>
            <div>
              <mat-form-field class="form-group">
                <mat-select formControlName="sortBy">
                  <mat-option
                    *ngFor="let sortingOption of sortingList"
                    [value]="sortingOption.id"
                  >
                    {{ sortingOption.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <!-- Sorted Items List-->
    <ng-container *ngIf="feedbackList.length > 0">
      <ng-container *ngFor="let feedbackItem of feedbackList">
        <app-feedback-item [feedbackItem]="feedbackItem"></app-feedback-item>
      </ng-container>
    </ng-container>
  </div>
</div>
