<div class="row">
  <div class="col-lg-3 px-4">
    <div
      class="section-title text-white text-capitalize d-flex align-items-end ps-4 pb-4"
    >
      feedback board
    </div>
  </div>
  <div class="col-lg-9 px-4">
    <ng-container *ngIf="sortingList.length > 0">
      <div class="filter-area bg-primary text-white py-3 px-5">
        <form *ngIf="form" [formGroup]="form" autocomplete="off">
          <div class="d-flex align-items-center">
            <span>Sort by:</span>
            <div>
              <mat-form-field class="form-group">
                <!-- <mat-label>Choose option</mat-label> -->
                <mat-select formControlName="sortBy">
                  <mat-option
                    *ngFor="let sortingOption of sortingList"
                    [value]="sortingOption.id"
                  >
                    {{ sortingOption.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="feedbackList.length > 0">
      <ng-container *ngFor="let feedbackItem of feedbackList">
        <div class="feedback-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="total-upvotes">{{ feedbackItem.upvotes }}</div>
            <div>
              <h2>{{ feedbackItem.title }}</h2>
              <p>{{ feedbackItem.description }}</p>
            </div>
            <div class="total-comments">
              <span>{{ feedbackItem.comments }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
